<div class="cards">
  <div class="card">
    <img class="img-card" src="/assets/One-Piece-Odyssey.jpeg" alt="" srcset="">
    <h5>One Piece Odyssey</h5>
</div>

<div class="card">
    <img class="img-card" src="/assets\demon-slayer-the-hinokami-chronicles.png" alt="" srcset="">
    <h5>Demon Slayer -Kimetsu no Yaiba-<br> The Hinokami Chronicles</h5>
</div>

<div class="card">
    <img class="img-card" src="assets\my-hero-ultra-rumble.jpg" alt="" srcset="">
    <h5>My Hero Ultra Rumble</h5>
</div>

<div class="card">
    <img class="img-card" src="assets\MY-HERO-ONE'S-JUSTICE-2.png" alt="" srcset="">
    <h5>My Hero One's Justice 2</h5>
</div>



<div class="card">
  <img class="img-card" src="assets\NARUTO SHIPPUDEN™ Ultimate Ninja® STORM 4.png" alt="" srcset="">
  <h5>NARUTO SHIPPUDEN™ Ultimate Ninja® STORM 4</h5>
</div>
</div>
